[Unit]
Description="Simple bluetooth speaker for the Raspberry Pi"
After=multi-user.target


[Service]
Type=simple
WorkingDirectory=/opt/bt-speaker/
#ExecStartPre=pulseaudio -D
ExecStart=/usr/bin/python /opt/bt-speaker/bt_speaker.py
Restart=always
RestartSec=0s
User=btspeaker
#StandardOutput=syslog
#StandardError=syslog
SyslogIdentifier=bt-speaker
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
